.accordion-button:not(.collapsed) {
  color: #fff !important;
  background: linear-gradient(
    to bottom,
    #168769 0%,
    #216868 100%
  );
}

.accordion-button:not(.collapsed)::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
}

.accordion-button {
  background: linear-gradient(
    to bottom,
    #ffd89c 0%,
    #fea03c 100%
  );
  color: #000;
  border: 1px solid grey;
}

#checkout .titulo{
  max-width: 700px;
}