.swiper-wrapper {
  height: 320px;
  padding: 40px;
}
.swiper {
  width: 100%;
  height: 100%;
  background: #fff;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}
.swiper-slide h1{
    font-size: 1.3rem !important;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
}
.swiper-slide img {
  width: 100%;
  height: 280px;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.swiper-button-next,
.swiper-button-prev {
  background: #fff;
}
.swiper-slide .overlay-effect {
  top: 160px;
  background: #ffffffa8;
  width: 100%;
  transition: all ease-in-out 0.5s;
}
.swiper-slide .overlay-effect .bi {
  opacity: 0;
  cursor: pointer;
}
.swiper-slide:hover .overlay-effect .bi {
  opacity: 1;
}
.swiper-slide h1{
  font-size: 1.8rem;
}

.search-item i{
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .swiper-slide .overlay-effect .bi {
    opacity: 1;
  }
}
